<%= stylesheet_link_tag 'surveys_list' %>

<h1> <%= t '.list_of_surveys' %> </h1>

<% if can? :create, Survey %>
<div class="admin_tasks">
  <%= link_to t(".create_survey"), surveys_path, :method => :post %>
  <div class="filters">
    <%= t(".show") %> : <%= link_to t(".published"), surveys_path(:published => true) %> |
    <%= link_to t(".unpublished"), surveys_path(:unpublished => true) %> |
    <%= link_to t(".all"), surveys_path %>
  </div>
</div>
<% end %>

<div class="surveys_list">
  <% unless @surveys.blank? or @organizations.blank? %>
  <% @surveys.each do |survey| %>
  <div class="survey">
    <div class="status">
      <% if survey.published %>
        <i class="icon-flag"></i>
      <% end %>
    </div>
    <div class="survey_details">
      <h2 class="name"><%= survey.name %></h2>
      <span class="organization_name"><%= survey.organization_name(@organizations) %></span>
      <div class="description">
        <span class="truncated_description">
          <%= truncate(survey.description, :length => 120)%>
        </span>
        <div class="more_description">
          <%= survey.description%>
        </div>
        <%= survey.more_less_links %>
      </div>
      <span class="expiry_date"><%= survey.expiry_date %></span>
    </div>

    <div class="response_operations">
      <%= survey.responses.count %>
      <%= link_to image_tag("add.png", :title => t(".add_response")), survey_responses_path(survey.id), :method => :post%>
      <%= link_to button_tag(t ".list_responses"), survey_responses_path(survey.id) %>
    </div>

    <div class="cso_admin_operations">
      <% if survey.published %>
      <%= link_to button_tag(t ".share_survey"), survey_share_with_organizations_path(survey.id) if can? :share_with_organizations, survey %>
      <% else %>
      <%= link_to image_tag("edit.png"), surveys_build_path(survey.id), :title => t(".edit_survey") if can? :edit, survey %>
      <% end %>
      <%= link_to button_tag(t ".publish_survey"), survey_publish_to_users_path(survey.id) if can? :publish_to_users, survey %>
      <%= link_to image_tag("duplicate.png"), duplicate_survey_path(survey.id), :method => :post, :data => { :confirm => t(:confirm) } if can? :duplicate, survey %>
      <%= link_to image_tag("delete.png"), survey_path(survey.id), :method => :delete, :data => { :confirm => t(:confirm) } if can? :destroy, survey %>
      <%= link_to image_tag("report.png"), report_survey_path(survey.id) if can? :report, survey %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<%= will_paginate @surveys %>

<script type="text/javascript">
$(document).ready(function() {
  $('.survey_row').each(function(_, elem) {
    new SurveyApp.SurveyRow($(elem));
  });
});
</script>
